body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
.btn {
  margin: 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: white;
  color: gray;
  border: 1.5px solid black;
  border-radius: 30px;
}
.page-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 5em;
}

.page-title {
  font-size: 18;
  color: gray;
}

.page-subtitle {
  font-size: 16;
  line-height: 22px;
}

.img-wrapper {
}
.input-wrapper {
  width: 90%;
}
.input-title {
  align-self: flex-start;
  color: gray;
  text-align: left;
  margin-left: 0.5em;
}

.input-box {
  width: 100%;
  height: 3em;
  border-radius: 30px;
  border: 2px solid black;
  margin-top: -1em;
}

.login-subtitle {
  text-align: center;
  padding-bottom: 5em;
}

.report-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio-wrapper {
  min-width: 100%;
  display: flex;
  text-align: right;
}

.err-msg {
  font-weight: bold;
  color: red;
}

.header-img {
  height: 49.02px;
  width: 70px;
  opacity: 0.3;
}
.header-title {
  height: 20px;
  width: 145px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}

.header-subtitle {
  height: 20px;
  width: 271px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.understand-wrapper {
  display: flex;
}
